
<!--<div class="container">-->
<!--  <h2 style="text-align: center">Chi tiết cuốn sách</h2>-->
<!--  <a type="button" class="btn btn-success" routerLink="">Xem Danh Sách</a>-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr *ngFor="let p of books">-->
<!--      <th>Tên Sách</th>-->
<!--      <th>{{p.title}}</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let p of books">-->
<!--      <th>Tác giả</th>-->
<!--      <th>{{p.author}}</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let p of books">-->
<!--      <th>Mô tả</th>-->
<!--      <th>{{p.description}}</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--  </table>-->
<!--</div>-->
