<h1>Create new book</h1>
<div class="container">
  <form [formGroup]='formgroup'>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Nhập Tên cuốn sách" formControlName="title">
      <p *ngIf="!formgroup.get('title')?.valid && formgroup.get('title')?.touched" style="color: red">Tên sách >= 1 ký tự</p>
    </div>
    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" placeholder="Nhập Tên tác giả"formControlName="author">
      <p *ngIf="!formgroup.get('author')?.valid && formgroup.get('author')?.touched" style="color: red">Tên tác giả >= 1 ký tự</p>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" placeholder="Nhập mô tả" formControlName="description">
    </div>
    <button type="submit" class="btn btn-default" (click)="createBook()">Submit</button>
  </form>
</div>
